# Ignorar TODO por defecto (bare repo con work-tree en $HOME)
# Solo versionar archivos agregados explícitamente con !patterns

/*
!.bashrc
!.gitignore
!.packages
!README.md
!.config/
!.config/autostart/
!.config/autostart/plasma-kglobalaccel.desktop
!.config/autostart/xcape.desktop
!.config/kwinrc
!.config/lxqt/
!.config/lxqt/globalkeyshortcuts.conf
!.config/lxqt/panel.conf
!.config/lxqt/session.conf
!.config/pcmanfm-qt/
!.config/pcmanfm-qt/lxqt/
!.config/pcmanfm-qt/lxqt/settings.conf
!Imágenes/
Imágenes/*
!Imágenes/wallhaven-486l61.jpg
