[Desktop Entry]
Type=Application
Name=Xcape Super Key
Comment=Mapea la tecla Super a Alt+F1 via XRecord (abre/cierra FancyMenu)
Exec=xcape -e 'Super_L=Alt_L|F1'
OnlyShowIn=LXQt;
X-LXQt-Need-Tray=false
Enabled=true
